
<!-- 2. nav-desktop Markup-->
     
<nav id="DesktopNav" class="desktop-nav-wrapper" role="navigation">
<!-- <button class="desktop-close">
  {% include 'icon-close' %}
  </button> -->
    <ul class="desktop-nav">
      {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}
        <li class="desktop-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
          {% if linklists[child_list_handle].links != blank %}
            <button type="button" class="btn--link js-toggle-submenu desktop-nav__link" data-target="{{ child_list_handle }}" data-level="1">
              {{ link.title }}
              <div class="desktop-nav__icon">
                {% include 'icon-chevron-right' %}
                <span class="icon__fallback-text">{{ 'layout.navigation.expand' | t }}</span>
              </div>
            </button>
            <ul class="desktop-nav__dropdown" data-parent="{{ child_list_handle }}" data-level="2">
              <li class="desktop-nav__item border-bottom">
                <div class="desktop-nav__table">
                  <div class="desktop-nav__table-cell desktop-nav__return">
                    <button class="btn--link js-toggle-submenu desktop-nav__return-btn" type="button">
                      {% include 'icon-chevron-left' %}
                      <span class="icon__fallback-text">{{ 'layout.navigation.collapse' | t }}</span>
                    </button>
                  </div>
                  <a href="{{ link.url }}" class="desktop-nav__sublist-link desktop-nav__sublist-header">
                    {{ link.title }}
                  </a>
                </div>
              </li>

              {% for childlink in linklists[child_list_handle].links %}
                <li class="desktop-nav__item{% unless forloop.last %} border-bottom{% endunless %}">
                  <a href="{{ childlink.url }}" class="desktop-nav__sublist-link">
                    {{ childlink.title | escape }}
                  </a>
                </li>
              {% endfor %}

            </ul>
          {% else %}
            <a href="{{ link.url }}" class="desktop-nav__link">
              {{ link.title }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</nav>      

<!-- 3. Redundant content from from Header.Liquid (b) from after include nav-desktop -->

{% schema %}
  {
    "name": "Custom Desktop Navigation",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
